.img-perfil{
    cursor: pointer;
    width: 15em;
}
.icono-img {
    vertical-align: middle;
    margin-right: 8px;
    max-width: 25px;
}

input[type="file"] {
	display: none;
}


.importar {
    position: absolute;
    right: 2.5em;
    top: 2.5em;
}