.img-servicio{
    cursor: pointer;
    width: 12em;
}
.icono-img {
    vertical-align: middle;
    margin-right: 8px;
    max-width: 25px;
}

input[type="file"] {
	display: none;
}
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
