mat-toolbar {
	position: fixed;
	width: 100vw;
	height: 64px;
	top: 0;
    z-index: 2;
}

.settings {
	color: white;
	right: 0.5em;
	top: 0.55em;
	position: absolute;
	button {
		margin-left: 0.5em;
		margin-right: 0.5em;
		i {
			font-size: 2em;
		}
	}
}

.logo {
	max-height: 64px;
}

.menu-toggle {
	display: none;
	@media screen and (max-width: 600px) {
		display: initial;
	}
}
