<h1 mat-dialog-title>Creacion de documentacion</h1>
<div class="row">
	<!-- <mat-slide-toggle color="primary" [(ngModel)]="habilitado">Visible</mat-slide-toggle> -->
</div>
<div style="padding: 1em;" mat-dialog-content>
	<div class="row">
		<div class="col s6">
			<mat-card>
				<mat-card-content>
					<mat-form-field>
						<input matInput [(ngModel)]="titulo" name="titulo" placeholder="Titulo del documentacion">
					</mat-form-field>
					<div style="margin-top:2em;">
						<input type="text" [(ngModel)]="categoria" placeholder="Categoria" aria-label="Categoria" matInput
						 [matAutocomplete]="auto">
						<mat-autocomplete #auto="matAutocomplete">
							<mat-option *ngFor="let categoria of categorias" [value]="categoria.titulo">
								{{ categoria.titulo }}
							</mat-option>
						</mat-autocomplete>
					</div>
				</mat-card-content>
			</mat-card>
		</div>
		<div class="col s6">
			<mat-card class="center-align">
				<img mat-card-image *ngIf="!pdf" class="img-institucional" [src]="pathPdf">
				<ng-container *ngIf="pdf">
					<img mat-card-image class="img-institucional" src="{{ pathPdf }}" (click)="clickPdf($event)">
				</ng-container>
				<mat-card-actions>
					<input type="file" #pdfInput (change)="cargaPdf($event)">
					<ng-container *ngIf="!pdf">
						<button title="Cargar pdf" color="primary" (click)="clickPdf(pdfInput)" mat-raised-button>
							<mat-icon>cloud_upload</mat-icon>
							<span>Nuevo pdf</span>
						</button>
					</ng-container>
					<button *ngIf="pdf" title="Cambiar pdf" color="secondary" (click)="clickPdf($event)" mat-raised-button>Revertir
						cambios</button>
				</mat-card-actions>
			</mat-card>
		</div>
	</div>
</div>
<div mat-dialog-actions>
	<mat-checkbox [(ngModel)]="habilitado" name="habilitado" color="primary">Habilitado </mat-checkbox>
	<button mat-button color="primary" (click)="cancelar()">Cancelar</button>
	<button mat-button color="accent" (click)="guardar()" cdkFocusInitial>Guardar</button>
</div>