.img-institucional{
    cursor: pointer;
    width: 12em;
}
.icono-img {
    vertical-align: middle;
    margin-right: 8px;
    max-width: 25px;
}

input[type="file"] {
	display: none;
}
.opaca{
  opacity: 5;
  filter: grayscale(100%);
  transition: color .2s filter easy-in-out, opacity .2s easy-in-out;
}