.img-usuario{
    cursor: pointer;
    width: 10em;
    border-radius: 85%;
}
.icono-img {
    vertical-align: middle;
    margin-right: 8px;
    max-width: 25px;
}
input[type="file"] {
	display: none;
}

