.contenedor{
  position: relative;
  text-align: center;
  color: white;
  background-color: black;
}
.texto-img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tinted{
  opacity: 0.8;
}
