<!DOCTYPE html>
<html lang="es" ng-app="serviciosApp">

<head>
	<meta charset="utf-8">
	<title>Santa Rosa Higiene y seguridad - Consultoria Seguridad e higiene</title>
	<meta name="author" content="Matias E. Rivas - Tres Erres Soft">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="Seguridad, higiene, consultoria, Santa Rosa, La Pampa, Argentina">
	<meta name="description" content="Servicios de consultoria, seguridad e higiene en santa rosa la pampa">
	<!-- Favicon -->
	<link rel="shortcut icon" type="image/png" href="../assets/favicon/favicon.ico">
	<!-- AngularMaterial CSS-->
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
	<!-- Custom Stylesheet Files -->
	<link href="../assets/css/utils.css" rel="stylesheet">
	<link href="../assets/css/servicios.css" rel="stylesheet">
	<!-- Bootstrap MAIN Stylesheet File -->
	<link href="../assets/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<nav id="header" class="navbar navbar-expand-md navbar-dark bg-nav fixed-top"></nav>
	<section style="padding-top: 10em;padding-bottom:5em;" class="container">
		<div class="row align-items-center">
			<div class="col-6 mx-auto">
				<blockquote class="blockquote">
					<p style="font-size: 2rem" class="mb-0">Proveemos tanto servicios como productos</p>
					<footer class="blockquote-footer">Santa Rosa <cite title="Source Title">Higiene y Seguridad</cite></footer>
				</blockquote>
			</div>
		</div>
	</section>
	<section class="col-12" ng-controller="serviciosCtrl" data-ng-init="init()">
		<div class="container-fluid">
			<div class="col-sm-6 col-md-6 col-lg-3 float-left" ng-repeat="servicio in serviciossyh">
				<md-card class="contenedor">
					<a style="cursor:pointer;" href="./contacto.html"></a>
					<img ng-src="../assets/img/servicios/{{servicio.path}}.jpg" style="max-height:11em;" class="img-fluid tinted md-card-image"
					 alt="Img">
					<div class="texto-img">
						<h3>{{servicio.titulo}}</h3>
					</div>
				</md-card>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-3 float-left" ng-repeat="servicio in serviciosing">
				<md-card class="contenedor">
					<a style="cursor:pointer;" href="./contacto.html"></a>
					<img ng-src="../assets/img/servicios/{{servicio.path}}.jpg" style="max-height:11em;" class="img-fluid tinted md-card-image"
					 alt="Img">
					<div class="texto-img">
						<h3>{{servicio.titulo}}</h3>
					</div>
				</md-card>
			</div>
		</div>
	</section>
	<script src="../assets/vendor/jquery/jquery.min.js"></script>
	<script src="../assets/vendor/bootstrap/bootstrap.bundle.min.js"></script>
	<!-- Angular Material requires Angular.js Libraries -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
	<!-- Angular Material Library -->
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
	<!-- Custom JS library -->
	<script src="../assets/js/utils.js"></script>
	<!-- Servicios AppJS -->
	<script src="../app/servicios.js"></script>
</body>

</html>