<mat-card>
  <mat-card-content>
    <tr-breadcrumbs [pages]="path"></tr-breadcrumbs>
    <div class="row no-margin">
      <div *ngIf="editando" class="col l4 s12"></div>
      <div class="col s12">

        <div class="example-container mat-elevation-z8">
          <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
            <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
              GitHub's API rate limit has been reached. It will be reset in one minute.
            </div>
          </div>

          <div class="example-table-container">
            <div class="spinner-container" mode="indeterminate" *ngIf="cargando">
              <mat-spinner></mat-spinner>
            </div>
            <table mat-table [dataSource]="data" class="example-table" matSort matSortActive="fecha"
              matSortDisableClear matSortDirection="desc">
              <!-- usuario Column -->
              <ng-container matColumnDef="usuario">
                <th mat-header-cell *matHeaderCellDef>usuario</th>
                <td mat-cell *matCellDef="let row">{{row.usuario}}</td>
              </ng-container>

              <!-- tipo Column -->
              <ng-container matColumnDef="tipo">
                <th mat-header-cell *matHeaderCellDef>tipo</th>
                <td mat-cell *matCellDef="let row">{{row.tipo}}</td>
              </ng-container>

              <!-- accion Column -->
              <ng-container matColumnDef="accion">
                <th mat-header-cell *matHeaderCellDef>accion</th>
                <td mat-cell *matCellDef="let row">{{row.accion}}</td>
              </ng-container>

              <!-- Created Column -->
              <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                  fecha
                </th>
                <td mat-cell *matCellDef="let row">{{row.fecha | date}}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

          </div>

        </div>

      </div>
    </div>
  </mat-card-content>
</mat-card>